.cardevent{
    position: fixed;
    width: 100%;
    height: 100vh;
}

.user-profile-avatar{
    padding-top: 5%;
}

.imagebut{
    margin-bottom: 5%;
}

.user-data-content{
    margin-left: 0;
}

.button-edit-data-profile{
    padding-right: 10%;
}
.ordpage{
    display: grid;
    grid-template-rows: 70% 30%;
   
    .infouser{
        margin-top: 3%;
        display: grid;
        grid-template-columns: 70% 30%;

        .user-data-content, .imageuser{
            max-height: 400px;
            background-color: white;
            width: 80%;
            border-radius: 20px;
        }

        .user-data-content{
            width: 70%;
            margin-left: 20%;

            .description{
                word-break:break-all;
                height: 80px;
                overflow: scroll;
                overflow-x: hidden;
            }
        }

        .imageuser{
            text-align: center;
            justify-content: center;

        }
    }
}

.naaaaaaaaame{
    margin-top: 10%;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.user-profile-avatar {
    img {
      border-radius: 50%;
      margin: 0 auto;
    }

    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

.avatarProfilePicture {

    width: 200px;
    height: 200px;
  }
  
  .upload-picture-field FileUploader {
    width: 200px !important;
    height: 200px !important;
  }


  
    .button-edit-image-profile,
    .button-edit-data-profile {
      background-color: transparent;
      border: none;
      outline: none;
  
      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }

  
  .button-edit-image-profile {
    position: absolute;
    top: -15px;
    right: 8%;
  }


  