// .App {
//     font-family: sans-serif;
//     text-align: center;
//   }
  
  .dialog {
    // box-shadow: 0 8px 6px -6px black;
    position: static;
    left: 45%;
    top: 40%;
    border: none;
  }
  
  .image {
    width: 300px;
  }