
.event-create {
    margin-top:3%;
    margin-left: 11%;
    // width: 106%;
    // margin-left:-6%;

}



.event-info-container {
    display: grid;
    grid-template-rows: 10% auto;
}




.cardevent {
    display: grid;
    grid-template-columns: 5% auto;
}

.event-info{
    height: 100%;
    position: relative;
    background-color: #E4E9F7;
}


.maindata-comment{
    display: grid;
    grid-template-columns: 60% 40%;
}

.event-create{
    // padding-top: 7%;
    display: grid;
    grid-template-rows: 80% 20%;

    
}

.nosidebar{
    width: 0px;
    // height: 100hv;
  }

.create{
    width: 106%;
    margin-left:-6%;
    padding-top: 2%;
    padding-left: 1%;
    height: 100%;
    background: rgb(216, 225, 247);
}

.maindata{
    display: grid;
    grid-template-rows: 90% 10%;

}

.ev-inf{
    display: grid;
    grid-template-columns: auto auto;

}

img{
    height: 90%;
    width: 90%;
}

.event-text{
    margin-left: 5%;
}


.maindata, .typeevent, .author {
    // min-height: 100%;
    // height: 900%;
    margin-right: 5%;
    padding-top: 5%;
    top: 7%;
    padding-left: 10%;
    border-radius: 30px;
    background-color: #edf4f9;
}



.maindata, .typeevent{
    height: 105%;
}

.author{
    margin-top: 3%;
}

.typeevent{
    margin-right: 15%;
    padding-top: 8%;

}

button{
    bottom: 40%;
}

.button-container {
    align-items: center;
  text-align: center;
  justify-content: center;
    
}

