
.event-create {
    margin-top:1%;
    margin-left: 11%;
    // width: 106%;
    // margin-left:-6%;

}

.content-del-up{
    display: grid;
    grid-template-columns: 80% 20%;
}

.del-up{
    display: grid;
    grid-template-columns: 50% 50%;
    // margin-left: 30%;
}

.del, .up{
    width: 20px;
    height: 20px;
    // top: 13px;
    // position: absolute;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
}

.del {
    background-image: url("../../public/video/delete.png");
  }
.up{
    background-image: url("../../public/video/update.png");
}



.timecom{
    margin-left: 20%;
}

.time-name{
    display:grid;
    grid-template-columns: 50% 50%;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #70707000 #70707000 #c5c5c5 #70707000;
}

.event-info-container {
    display: grid;
    grid-template-rows: 10% auto;
}

.namecom{
    margin-left: 5%;
}


.mavka{
    width: 370px;
}


// .input-box-a input{
//     width: 85%;
// }
.crater{
    margin-bottom: 5px;
    font-size: 14px !important;
    width: 70px !important;
    padding: 7px 5px !important;
}

.datetime-comment {
    font-size: 13px;
    color: gray;
    margin-left: 35px;
}

.comcont{
    background-color:#ffffff;
    border-radius: 5%;
    width: 360px;
    margin-bottom: 10px;
    min-height: 90px;
    margin-bottom: 15px;
}

.textarea-create-comment {
    width: 350px;
    height: 60px;
    margin-top: 20px;
}

.scroll-comment{
    height: 230px;
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
}

.create-comm{
    position: fixed;
    // margin-top: 260px;
}

.create-comm :where(.input-box-a input) {
    // top: 100px;
    position: relative;
    height: 30px;
    // width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    bottom: 3px;
    // margin-top: 250px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;

    
  }
  .input-box-a input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }

.cardevent {
    display: grid;
    grid-template-columns: 5% auto;
}

.event-info{
    height: 100%;
    position: relative;
    background-color: #E4E9F7;
}


.maindata-comment{
    display: grid;
    grid-template-columns: 60% 40%;
}

.event-create{
    // padding-top: 7%;
    display: grid;
    grid-template-rows: 80% 20%;

    
}

.nosidebar{
    width: 0px;
    // height: 100hv;
  }

.create{
    width: 106%;
    margin-left:-6%;
    padding-top: 2%;
    padding-left: 1%;
    height: 100%;
    background: rgb(216, 225, 247);
}


.maindata{
    display: grid;
    grid-template-rows: 90% 10%;

}

.description{
    word-break:break-all;
    height: 80px;
    overflow: auto;
    overflow-x: hidden;
}



.ev-inf{
    display: grid;
    grid-template-columns: 30% 70%;

}

.mangodb{
    max-height: 200px;
    max-width: 200px;
}

.event-text{
    margin-left: 5%;
}

.maindata{
    max-width: 900px;
    max-height: 450px;
    min-height: 450px;
}

.typeevent{
    max-width: 670px;
    max-height: 450px;
    min-height: 450px;
}





.author{
    padding-bottom: 20px;
    margin-top: 5px;
    margin-left: 27%;
    max-width: 40%;
    max-height: 130px;
    min-height: 100px;
    padding-top: 1%;
    top: 7%;
    padding-left: 20px;
    border-radius: 30px;
    background-color: #edf4f9;
}

.datetime-eventpage {
    display: flex;
    gap: 100px;
}

.location-eventpage {
    margin-top: 15px;
    width: 90%;
    // margin-right: 5px;
}

.title-eventpage {
    font-weight: 700;
    font-size: 20px;
}

.maindata, .typeevent{
    // min-height: 450px;
    // height: 900%;
    margin-right: 5%;
    padding-top: 5%;
    top: 7%;
    padding-left: 10%;
    border-radius: 30px;
    background-color: white;
    // background-color: #edf4f9;
}



.typeevent{
    margin-right: 15%;
    padding-top: 8%;

}

button{
    bottom: 40%;
}

.button-container {
    margin-bottom: -10%;
    align-items: center;
  text-align: center;
  justify-content: center;
    
}

.disabledBuyButton {
    background-color: #8aced6;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 15px;
    
}

.content{
    margin-left: 5%;
    margin-right: 3%;
    // white-space: pre;
    word-break:break-all;
}

.place-all{
    display: grid;
    grid-template-columns: 20% 80%;

    .place-info{
        margin-left: 20px;

        .namecomp{
            font-size: large;
            border-width: 0 0 2px 0;
            border-style: solid;
            border-color: #70707000 #70707000 #c5c5c5 #70707000;
        }

        .infocomp{
            margin-top: 5px;
            word-break:break-all;
            height: 60px;
            overflow: auto;
            overflow-x: hidden;
        }
    }
}

.place-image{
    // margin-right: 10%;
    img {
        
        border-radius: 50%;
        margin: 0 auto;
        width: 110px;
        height: 110px;
      }
}

.num{
    width: 117%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.range{
    width: 100%;
}