
.event-create {
    margin-top:3%;
    margin-left: 11%;
    // width: 106%;
    // margin-left:-6%;

}

.content-del-up{
    display: grid;
    grid-template-columns: 70% 30%;
}

.del-up{
    display: grid;
    grid-template-columns: 30% 70%;
}

.del, .up{
    width: 20px;
    height: 20px;
    // top: 13px;
    // position: absolute;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
}

.del {
    background-image: url("../../public/video/delete.png");
  }
.up{
    background-image: url("../../public/video/update.png");
}

// .namecom{
//     display: flex;
//     left: 0;
// }
// .timecom{
//     display: flex;
//     right: 0;
// }

.time-name{
    display:grid;
    grid-template-columns: 50% 50%;
}

.event-info-container {
    display: grid;
    grid-template-rows: 10% auto;
}


.input-box-a input{
    width: 85%;
}

.create-comm :where(.input-box-a input) {
    position: relative;
    height: 30px;
    // width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  .input-box-a input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }

.cardevent {
    display: grid;
    grid-template-columns: 5% auto;
}

.event-info{
    height: 100%;
    position: relative;
    background-color: #E4E9F7;
}


.maindata-comment{
    display: grid;
    grid-template-columns: 60% 40%;
}

.event-create{
    // padding-top: 7%;
    display: grid;
    grid-template-rows: 80% 20%;

    
}

.nosidebar{
    width: 0px;
    // height: 100hv;
  }

.create{
    width: 106%;
    margin-left:-6%;
    padding-top: 2%;
    padding-left: 1%;
    height: 100%;
    background: rgb(216, 225, 247);
}

// .create.dark{
//     width: 106%;
//     margin-left:-6%;
//     padding-top: 2%;
//     padding-left: 1%;
//     height: 100%;
//     background-color: #0e2231;
// }

// .dark{
//     background-color: #152937;
// }

.maindata{
    display: grid;
    grid-template-rows: 90% 10%;

}

.ev-inf{
    display: grid;
    grid-template-columns: auto auto;

}

img{
    max-height: 300px;
    max-width: 300px;
}

.event-text{
    margin-left: 5%;
}

.maindata{
    max-width: 900px;
    max-height: 450px;
    min-height: 450px;
}

.typeevent{
    max-width: 670px;
    max-height: 450px;
    min-height: 450px;
}

.author{
    padding-bottom: 20px;
    margin-top: 15px;
    max-width: 1500px;
    max-height: 100px;
    min-height: 100px;
}


.maindata, .typeevent, .author {
    // min-height: 450px;
    // height: 900%;
    margin-right: 5%;
    padding-top: 5%;
    top: 7%;
    padding-left: 10%;
    border-radius: 30px;
    background-color: #edf4f9;
}

// .maindata.dark, .typeevent.dark, .author.dark {
//     // min-height: 100%;
//     // height: 900%;
//     margin-right: 5%;
//     padding-top: 5%;
//     top: 7%;
//     padding-left: 10%;
//     border-radius: 30px;
//     color:#E4E9F7;
//     background-color: #2d3d48;
//     p{
//         color: #E4E9F7;
//     }
// }



// .maindata, .typeevent{
//     height: 105%;
// }



.typeevent{
    margin-right: 15%;
    padding-top: 8%;

}

button{
    bottom: 40%;
}

.button-container {
    margin-bottom: -10%;
    align-items: center;
  text-align: center;
  justify-content: center;
    
}

.disabledBuyButton {
    background-color: #8aced6;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 15px;
    
}