.userpageall{
  display: grid;
  // display:flex;
  grid-template-columns: 5% auto;
  min-height: 100vh;
  padding-right: 20px;
  height: 100%;
  background: #E4E9F7;
  // background: rgb(216, 225, 247);
  font-family: "Poppins", sans-serif;
  // position: fixed;


.infouser{
    padding-left: 18%;
}

.infouser, .imageuser{
  
//   padding-left: 100px;
  h1 {
    color: rgb(42, 36, 70);
    font-size: 30px;
  }
  h2 {
    padding-left: 70px;
    font-size: 25px;
    // color: rgb(0, 0, 0);
    color:rgb(130, 106, 251);
  }
  p {
    font-size: 5px;
    color:rgb(42, 36, 70);
  }
  
}

.imageuser {
  margin-left: 20%;
}

.userpage{
  //под вопросом
  // position: fixed;
  padding-top: 70px;
  display: grid;
  grid-template-columns: 50% 50%;
  // min-height: 100vh;
  display: flex;
  padding-left: 10px;
  padding-right: 20px;
  height: 100%;
  background: rgb(216, 225, 247);
}


}