.location-form 
{
    background-color: white;
    width: 80%;
    // margin: 0 auto;
    height: 90%;
    border-radius: 20px;
    padding: 40px 0 50px 0;

    .field {
        width: 400px;
    }
}
