/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #2cc6d7;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.body-sidebar{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

.body-sidebar.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 80px;
}



/* ===== Reusable code - Here ===== */
.sidebar li{
    // height: 50px;
    padding-bottom: 20px;
    // max-height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;


    transition: all 0.4s ease;
    
}

.sidebar header .image,
.sidebar .icon{
    min-width: 45px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-left: -28px;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle-around{
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%) rotate(180deg);
    height: 30px;
    width: 30px;
    background-color: white;
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05); 
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    
    right: -1px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);

    
}



body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 20px;
    margin-left: -5px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
    margin-left: 10px;
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 30px;
    width: 50px;
}

.mode .sun-moon img{
    position: absolute;
    // width: 10px;
    // height: 20px;
}

.mode .sun-moon img.sun {
    opacity: 1;
}

.mode .sun-moon img.moon {
    opacity: 0;
}


.dark .mode .sun-moon img.sun{
    opacity: 0;
}


.dark .mode .sun-moon img.moon{
    opacity: 1;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
// body.dark .home .text{
//     color: var(--text-color);
// }

body.dark .home .text{
    color: var(--text-color);
}






// =================MINE=================================

.dark .bb {
    background: #4b4e57;
}


.bb {
    // background: transparent;
    
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    align-items: center;
    display: flex;
    text-align: center;
}


.hoverme {
    width: 38px;
    height: 38px;
    
    position: absolute;
    border-radius: 10%;
    background-image: url("../../public/video/search.png");
    background-size: cover;
    cursor: pointer;
    // margin-left: 8px;
    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .hoverme:hover {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../../public/video/search.gif");
    
  }

  .hoverme-home{
    width: 33px;
    height: 33px;
    
    position: absolute;
    border-radius: 20%;
    background-image: url("../../public/video/home.png");
    background-size: cover;
    cursor: pointer;
    // margin-left: 8px;
    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hoverme-home:hover {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url("../../public/video/home.gif");
    
  }

  .hoverme-notification {
    width: 33px;
    height: 33px;
    
    position: absolute;
    border-radius: 20%;
    background-image: url("../../public/video/notification.png");
    background-size: cover;
    cursor: pointer;
    // margin-left: 8px;
    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.hoverme-notification:hover {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url("../../public/video/notification.gif");
    
}

.hoverme-basket {
    width: 33px;
    height: 33px;
    
    position: absolute;
    border-radius: 20%;
    background-image: url("../../public/video/users_list.png");
    background-size: cover;
    cursor: pointer;
    // margin-left: 8px;
    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.hoverme-basket:hover {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url("../../public/video/users_list.gif");
    
}

.hoverme-logout {
    width: 32px;
    height: 32px;
    
    position: absolute;
    border-radius: 0%;
    background-image: url("../../public/video/logout.png");
    background-size: cover;
    cursor: pointer;
    // margin-left: 8px;
    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.hoverme-logout:hover {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url("../../public/video/logout.gif");
    
}

.hoverme-sub {
    width: 32px;
    height: 32px;
    
    position: absolute;
    border-radius: 0%;
    background-image: url("../../public/video/like.png");
    background-size: cover;
    cursor: pointer;
    // margin-left: 8px;
    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.hoverme-sub:hover {
    width: 45px;
    height: 45px;
    border-radius: 40%;
    background-image: url("../../public/video/like.gif"); 
}

.hoverme-calendar {
    width: 32px;
    height: 32px;
    
    position: absolute;
    border-radius: 0%;
    background-image: url("../../public/video/calendar.png");
    background-size: cover;
    cursor: pointer;
    // margin-left: 8px;
    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.hoverme-calendar:hover {
    width: 45px;
    height: 45px;
    border-radius: 40% 0 0 40%;
    background-image: url("../../public/video/calendar.gif"); 
}

.hoverme-tickets {
    width: 32px;
    height: 32px;
    
    position: absolute;
    border-radius: 0%;
    background-image: url("../../public/video/ticket.png");
    background-size: cover;
    cursor: pointer;
    // margin-left: 8px;
    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.hoverme-tickets:hover {
    width: 45px;
    height: 45px;
    border-radius: 40% 0 0 40%;
    // background-image: url("./video/ticket.gif"); 
    background-image: url("../../public/video/ticket.gif"); 
}

.hoverme-card {
    width: 32px;
    height: 32px;
    
    position: absolute;
    border-radius: 0%;
    background-image: url("../../public/video/credit-card.png");
    background-size: cover;
    cursor: pointer;
    // margin-left: 8px;
    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.hoverme-card:hover {
    width: 45px;
    height: 45px;
    border-radius: 40% 0 0 40%;
    // background-image: url("./video/ticket.gif"); 
    background-image: url("../../public/video/credit-card.gif"); 
}


// .nav-link:hover {
//     transform: scale(1);
//     border-radius: 20px 0 0 20px;
//     -webkit-transform: scale(1);
//     -moz-transform: scale(1);
//     box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
//     -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
//     -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
// }

.nav-text {
    margin-left: 5px;
}

.mode-text {
    margin-left: 5px;
}

.sidebar.close .sun-moon img.sun {
    opacity: 0;
}

.sidebar.close .sun-moon img.moon {
    opacity: 0;
}


//====================================================================SUBMENU

.sidebar .arrow
{
    width: 30px;
    height: 30px;
}

.nav-links {
    position: absolute;
}

