.al, .alwith{
    min-height: 100vh;
    // display: flex;
    // align-items: left;
    // text-align: center;
    // justify-content: left;
    display: grid;
    grid-auto-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    background: #fff;
    padding-left: 10px;
    padding-right: 20px;
    height: 100%;
    // padding: 20px;
    background: rgb(231, 236, 248);
  }

  button{
    font-size: larger;
  }