

// .create-form1 {
//     background-color: white;
//     height: 80%;
//     border-radius: 20px;
// }



// .create-form1-content {
//     height: 100%;
//     margin:  auto 0;
//     padding-bottom: 30px;
// }


// .create-form1 table {
//     width: 90%;
//     margin: 0 auto;
// }

// .create-form1 div {
//     margin-top: 15px;
// }


// .title-create-event-form {
//     width: 90%;
//     margin: 0 auto;
//     padding-top: 20px;
// }

// .description-create-event {
//     width: 90%;
//     margin: 0 auto;
// }

// .field {
//     // margin-top: 20px;
//     padding-top: 10px;
// }

// textarea.descr.is-focused {
//     overflow: hidden;
//     width: 350px;
//     height: 70px;
// }

// .prom-panel{
//     background-color: #31313171;
//     height: 100vh;
//     padding-top: 30%;
//     // width: 2000px;
// }

.admin-page-prom{
    text-align: center;
    justify-content: center;
    // background-color: #31313171;
    // height: 100vh;
}

.prom-content{
    text-align: center;
    justify-content: center;

    display: grid;
    grid-template-rows: 15% 70% 15%;

    background-color: #E4E9F7;
    padding: 40px;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 20px;
    border-style: solid;
    border-width: 20px;
    border-color: #afadc9;
    // box-shadow:100px 100px #707070, 100px 100px #707070;
}


.proms-contaner{
    text-align: center;
    justify-content: center;

    display: grid;
    grid-template-rows: 20% 35% 20% 25%;
}

.createprom{
    margin-top: 15%;
}

.input-box-an input, .input-box-an textarea{
    width: 100%;
    position: relative;
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  }

  .input-box-an{
    width: 100%;
    // margin-top: 20px;
  }

 