@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.avatarPicture
{
  width: 180px;
  height: 180px;
}

.input-box-a input{
  width: 100%;
}
// .all {
//   min-height: 100vh;
//   display: flex;
//   position: fixed;
//   align-items: center;
//   text-align: center;
//   justify-content: center;
//   padding: 20px;
//   background: rgb(216, 225, 247);
// }
// .container {
//   position: relative;
//   max-width: 600px;
//   // margin: 40px;
//   width: 100%;
//   background: #fff;
//   padding: 25px;
//   border-radius: 8px;
//   box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
// }
.all {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  //вот строка, она не даёт появляться тому белому моменту. ниже
  position: fixed;
  //выше
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
  background: rgb(216, 225, 247);
}
.container {
  // margin:auto;
  // margin-top: 7%;
  position: relative;
  max-width: 600px;
  // margin: 40px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

s
.container .form {
  margin-top: 30px;
}
.form .input-box-a, .react-tel-input .form-control {
  width: 100%;
  // margin-top: 20px;
}
.input-box-a label {
  color: #333;
}
.form :where(.input-box-a input, .select-box, .react-tel-input .form-control) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box-a input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}


.form .column-logreg {
  display: flex;
}

.reg{
  margin-right: 20px;
  // padding-right: 20px;
}

.lod{
  margin-left: 20px;
}

.form .column {
  display: flex;
  column-gap: 20px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(65, 134, 220);
}
.form button:hover {
  background: rgb(129, 117, 186);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}



button{
    padding: 10px 30px;
      border-radius: 15px;
}

div.react-tel-input {
  height: 50px;
  margin-top: 9px;
  // border: 1px solid rgb(192, 192, 192);
  border: none
}


.react-tel-input .form-control {
  height: 50px;
  // height: 100%;
  // margin: 10px;
  // padding: 5px;
  // border: none
}

// Select{
//   height: 50px;
// }



















